<a href="https://colab.research.google.com/github/rewardisenough/AI-Camp-Summer-2022/blob/main/first_project/Week2_HW_Maps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Python map problems (17 problems)
# Source: https://www.w3resource.com/python-exercises/map/index.php

In [2]:
# Task 1: Write a Python program to triple all numbers of a given list of integers. Use Python map.

In [3]:
def task1_func():
  # function that triples number
  def three(n):
    return n + 3
  numbers = (1,2,3,4)
  results = map(three,numbers)
  print(list(results))

task1_func()

[4, 5, 6, 7]

In [4]:
def task1_lamb():
  # using lambda
  numbers = (1,2,3,4)
  results = map(lambda x: x + 3, numbers)
  print(list(results))

task1_lamb()

[4, 5, 6, 7]

In [5]:
# Task2: Write a Python program to add three given lists using Python map and lambda.

In [6]:
def task2_func():
  # using function
  def add_list(x,y,z):
    return x + y + z
  #three lists
  x = (1,2,3,4)
  y = (5,6,7,8)
  z = (9,10,11,12)
  # maps
  results = map(add_list, x,y,z)
  print(list(results))

task2_func()

[15, 18, 21, 24]

In [8]:
def task2_lamb():
  #three lists
  x = (1,2,3,4)
  y = (5,6,7,8)
  z = (9,10,11,12)
  # maps with lambda
  results = map(lambda x,y,z: x+y+z, x,y,z)
  print(list(results))

task2_lamb()

[15, 18, 21, 24]

In [9]:
# Task3: Write a Python program to listify the list of given strings individually using Python map.

In [12]:
def task3_func():
  # list of given string
  str = ('Eat','Sleep','Code') # :)
  # using list function, not the list data structure
  results = map(list,str)
  print(list(results))

task3_func()

[['E', 'a', 't'], ['S', 'l', 'e', 'e', 'p'], ['C', 'o', 'd', 'e']]

In [13]:
def task3_lamb():
  str = ('Eat','Sleep','Code') # :)
  # maps with lambda
  results = map(lambda x : list(x),str)
  print(list(results))

task3_lamb()

[['E', 'a', 't'], ['S', 'l', 'e', 'e', 'p'], ['C', 'o', 'd', 'e']]

In [ ]:
# Task4: Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.

In [15]:
def task4():
  # list containing the power 

  # list

[1, 4, 9, 16, 25, 36]

In [ ]:
# Task5: Write a Python program to square the elements of a list using map() function.

In [17]:
def task5():
  # list of bases
  numbers = (1,2,3,4,5,6)
  # maps with lambda
  results = map(lambda x: x * x, numbers)
  print(list(results))

task5()

[1, 4, 9, 16, 25, 36]