In [ ]:
import pandas as pd

ecom = pd.read_csv('Ecommerce Purchases')
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [ ]:
print(len(ecom.index))
print(len(ecom.columns))

10000
14

In [ ]:
print(ecom['Purchase Price'].mean())

50.347302

In [ ]:
print(ecom['Purchase Price'].max())
print(ecom['Purchase Price'].min())

99.99
0.0

In [ ]:
sum(ecom[ecom["Language"] == 'en'].value_counts())

1098

In [ ]:
sum(ecom[ecom["Job"]=="Lawyer"].value_counts())

30

In [ ]:
print(sum(ecom[ecom["AM or PM"]=="AM"].value_counts()))
print(sum(ecom[ecom["AM or PM"]=="PM"].value_counts()))

4932
5068

In [ ]:
ecom['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

In [ ]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [ ]:
ecom[ecom['Credit Card'] == 4926535242672853] ['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [ ]:
sum(ecom[(ecom["CC Provider"]=="American Express") & (ecom["Purchase Price"]>95.00)].value_counts())

39

In [ ]:
sum(ecom[ecom["CC Exp Date"] == 2025].value_counts())

0

In [ ]:
ecom['Email'].value_counts().head(5)

leekathy@yahoo.com         2
joshua41@hotmail.com       2
christopher29@gmail.com    2
ethomas@hotmail.com        2
brownjohn@hotmail.com      2
Name: Email, dtype: int64

In [ ]:
sum(ecom[ecom["CC Security Code"].isin([range(100,501)])].value_counts())

0

In [ ]:
sum(ecom[(ecom["AM or PM"]=="PM") & (ecom["Job"]=="Lawyer")].value_counts())

15