In [ ]:
#pandas
#  - series : ordered sequence of elements
#  - dataframe : multiple series/ rows& columns and combinations

# Operations: create, name, index, slicing, maths, ...

#Ref:
# https://pandas.pydata.org/
# https://pandas.pydata.org/docs/user_guide/index.html
# https://pandas.pydata.org/docs/reference/index.html


import pandas as pd
import numpy as np

In [ ]:
scores = pd.Series([43, 54, 12, 86, 98, 24, 78, 97, 54])

lt = [23, 32,234,23,23,23]

print(lt)
print(scores)

[23, 32, 234, 23, 23, 23]
0    43
1    54
2    12
3    86
4    98
5    24
6    78
7    97
8    54
dtype: int64

In [ ]:
scores.name = "Scores of student"
print(scores)

0    43
1    54
2    12
3    86
4    98
5    24
6    78
7    97
8    54
Name: Scores of student, dtype: int64

In [ ]:
scores[1]

#doesnt work  scores[-1]  

scores[:]  #works

scores[1:5]

scores.values

array([43, 54, 12, 86, 98, 24, 78, 97, 54])

In [ ]:
scores

scores.index = ['A', 'B', "C", 'D', 'E', 'F', 'G', "H", 'I']

print(scores)

print(scores['F'])
print(scores[:])
print(scores['B':'G'])

A    43
B    54
C    12
D    86
E    98
F    24
G    78
H    97
I    54
Name: Scores of student, dtype: int64
24
A    43
B    54
C    12
D    86
E    98
F    24
G    78
H    97
I    54
Name: Scores of student, dtype: int64
B    54
C    12
D    86
E    98
F    24
G    78
Name: Scores of student, dtype: int64

In [ ]:
dummy_scores = pd.Series([1, 2, 5, 8, 21], index=['qw', 'we', 'er', 'rt', 'ty'])

print(dummy_scores)
print(dummy_scores['rt'])

qw     1
we     2
er     5
rt     8
ty    21
dtype: int64
8

In [ ]:

scores.iloc[0]

scores.iloc[:]
scores.iloc[-1]

scores.iloc[-4: -1]


scores[['A', "B"]]

A    43
B    54
Name: Scores of student, dtype: int64

In [ ]:
scores > 50  #Boolean array

scores[scores > 50]

scores.mean()
scores.std()

scores[scores > scores.mean()]

D    86
E    98
G    78
H    97
Name: Scores of student, dtype: int64

In [ ]:
scores + 10
scores - 10

A    33
B    44
C     2
D    76
E    88
F    14
G    68
H    87
I    44
Name: Scores of student, dtype: int64

In [ ]:
print(scores)

scores['A'] = 70
print(scores)

scores.iloc[0]  = 80
print(scores)

A    43
B    54
C    12
D    86
E    98
F    24
G    78
H    97
I    54
Name: Scores of student, dtype: int64
A    70
B    54
C    12
D    86
E    98
F    24
G    78
H    97
I    54
Name: Scores of student, dtype: int64
A    80
B    54
C    12
D    86
E    98
F    24
G    78
H    97
I    54
Name: Scores of student, dtype: int64

###DATAFRAME

In [ ]:
from numpy.random import randn
X = pd.DataFrame(randn(4, 4))

print(X)

print(X[0]) # prints 0th colmn
print(X[3]) # prints 3rd colmn

          0         1         2         3
0 -0.397392 -0.288050  0.154080  0.888934
1 -0.534000  0.495975 -0.746673  0.205994
2 -0.144732  1.070207 -1.212839  0.042365
3  0.817083 -0.449432  0.112583 -2.018115
0   -0.397392
1   -0.534000
2   -0.144732
3    0.817083
Name: 0, dtype: float64
0    0.888934
1    0.205994
2    0.042365
3   -2.018115
Name: 3, dtype: float64

In [ ]:

print(X.iloc[1])

0   -0.534000
1    0.495975
2   -0.746673
3    0.205994
Name: 1, dtype: float64

In [ ]:
print(X.iloc[:, 2:])

          2         3
0  0.154080  0.888934
1 -0.746673  0.205994
2 -1.212839  0.042365
3  0.112583 -2.018115

In [ ]:
X.index = ['a', 'b', 'c', 'd']
X.columns = [1, 2, 3, 4]

print(X)

          1         2         3         4
a -0.397392 -0.288050  0.154080  0.888934
b -0.534000  0.495975 -0.746673  0.205994
c -0.144732  1.070207 -1.212839  0.042365
d  0.817083 -0.449432  0.112583 -2.018115

In [ ]:
#column access
X[1]
X[4]


#rows access
X.loc['a']
X.iloc[1]

1   -0.534000
2    0.495975
3   -0.746673
4    0.205994
Name: b, dtype: float64

In [ ]:
X[[1, 3]]
X[:]

X.loc[['a', 'c']]


print(X.iloc[1:3])
print(X.loc['b':'d'])

          1         2         3         4
b -0.534000  0.495975 -0.746673  0.205994
c -0.144732  1.070207 -1.212839  0.042365
          1         2         3         4
b -0.534000  0.495975 -0.746673  0.205994
c -0.144732  1.070207 -1.212839  0.042365
d  0.817083 -0.449432  0.112583 -2.018115

In [ ]:
print(X)
#X[0:2, :]   Error
# X['a':'b', 1:3]  Error


X.loc['b':'c', 1:2]
X.iloc[0:2, 1:2]

          1         2         3         4
a -0.397392 -0.288050  0.154080  0.888934
b -0.534000  0.495975 -0.746673  0.205994
c -0.144732  1.070207 -1.212839  0.042365
d  0.817083 -0.449432  0.112583 -2.018115

          2
a -0.288050
b  0.495975

In [ ]:
X.index
X.columns

X.info
X.describe()

X.size
X.shape

Y = pd.DataFrame(randn(5, 4))
Y.shape

(5, 4)

In [ ]:
Y['new_column'] = [1, 2, 3, 4, 5]
print(Y)

          0         1         2         3  new_column
0 -1.368191  2.127063 -1.080858  0.254344           1
1 -0.013746  0.501653 -1.219227  0.356413           2
2  0.031002  1.197490 -0.829757  0.536222           3
3  0.071773  0.302917  0.885764  1.387415           4
4  1.059917  0.175959 -0.946269  0.307395           5

In [ ]:
X.iloc[2] > X.mean(axis=0)

1    False
2     True
3    False
4     True
dtype: bool

In [ ]:
print(X)
X[5] = [1, 2, 3, 4 ]

          1         2         3         4
a -0.397392 -0.288050  0.154080  0.888934
b -0.534000  0.495975 -0.746673  0.205994
c -0.144732  1.070207 -1.212839  0.042365
d  0.817083 -0.449432  0.112583 -2.018115

In [ ]:
#dictionary in python
# Ref: https://www.w3schools.com/python/python_dictionaries.asp

dt = {1: 'Nagasundar', 2: 'Ram', 'Q' : 123412}
dt['Q'] = 'wqqw'
print(dt)

{1: 'Nagasundar', 2: 'Ram', 'Q': 'wqqw'}

In [ ]:
# Add a column to dataframe - single, multiple
# Add a row from dataframe - single, multiple
# drop a row from dataframe - single, multiple
# drop a column from dataframe - single, multiple

X = pd.DataFrame(randn(6, 6))
X

          0         1         2         3         4         5
0  0.055368  1.892162  0.195860 -1.342070  0.369782 -0.952356
1  0.392104 -0.868364  1.713019 -0.252692  0.899454  1.134498
2  1.775740  0.121275 -0.038958  0.557633  0.053133 -1.228516
3  0.384472  1.040855 -0.534750  1.052187 -0.093194  0.519593
4 -0.665988 -0.822377  0.345487 -0.321227  0.285916  1.988650
5 -0.894517 -0.703438  1.315402  1.114672 -2.084141 -0.126547

In [ ]:
X.insert(6,"6", [1,2,3,4,5,6])

In [ ]:
for i in range(2):
  X.insert(i, str(i)+'a', [1,2,3,4,5,6])

In [ ]:
X.loc[len(X.index)] =[11,12,13,14,15,16,17,18,19]

In [ ]:
X = X.append([{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6}, {0: 2, 1: 4, 2: 6, 3: 8, 4: 10, 5: 12}], ignore_index=True)
print(X)

     0a    1a          0          1          2          3          4  \
0   1.0   1.0   0.055368   1.892162   0.195860  -1.342070   0.369782
1   2.0   2.0   0.392104  -0.868364   1.713019  -0.252692   0.899454
2   3.0   3.0   1.775740   0.121275  -0.038958   0.557633   0.053133
3   4.0   4.0   0.384472   1.040855  -0.534750   1.052187  -0.093194
4   5.0   5.0  -0.665988  -0.822377   0.345487  -0.321227   0.285916
5   6.0   6.0  -0.894517  -0.703438   1.315402   1.114672  -2.084141
6  11.0  12.0  13.000000  14.000000  15.000000  16.000000  17.000000
7   NaN   NaN   1.000000   2.000000   3.000000   4.000000   5.000000
8   NaN   NaN   2.000000   4.000000   6.000000   8.000000  10.000000

           5     6
0  -0.952356   1.0
1   1.134498   2.0
2  -1.228516   3.0
3   0.519593   4.0
4   1.988650   5.0
5  -0.126547   6.0
6  18.000000  19.0
7   6.000000   NaN
8  12.000000   NaN

In [ ]:
X.drop(columns=[0])

     0a    1a          1          2          3          4          5     6
0   1.0   1.0   1.892162   0.195860  -1.342070   0.369782  -0.952356   1.0
1   2.0   2.0  -0.868364   1.713019  -0.252692   0.899454   1.134498   2.0
2   3.0   3.0   0.121275  -0.038958   0.557633   0.053133  -1.228516   3.0
3   4.0   4.0   1.040855  -0.534750   1.052187  -0.093194   0.519593   4.0
4   5.0   5.0  -0.822377   0.345487  -0.321227   0.285916   1.988650   5.0
5   6.0   6.0  -0.703438   1.315402   1.114672  -2.084141  -0.126547   6.0
6  11.0  12.0  14.000000  15.000000  16.000000  17.000000  18.000000  19.0
7   NaN   NaN   2.000000   3.000000   4.000000   5.000000   6.000000   NaN
8   NaN   NaN   4.000000   6.000000   8.000000  10.000000  12.000000   NaN

In [ ]:
X.drop(['0a',1],axis=1)

     1a          0          2          3          4          5     6
0   1.0   0.055368   0.195860  -1.342070   0.369782  -0.952356   1.0
1   2.0   0.392104   1.713019  -0.252692   0.899454   1.134498   2.0
2   3.0   1.775740  -0.038958   0.557633   0.053133  -1.228516   3.0
3   4.0   0.384472  -0.534750   1.052187  -0.093194   0.519593   4.0
4   5.0  -0.665988   0.345487  -0.321227   0.285916   1.988650   5.0
5   6.0  -0.894517   1.315402   1.114672  -2.084141  -0.126547   6.0
6  12.0  13.000000  15.000000  16.000000  17.000000  18.000000  19.0
7   NaN   1.000000   3.000000   4.000000   5.000000   6.000000   NaN
8   NaN   2.000000   6.000000   8.000000  10.000000  12.000000   NaN

In [ ]:
X = X.drop(4)
print(X)

     0a    1a          0          1          2          3          4  \
0   1.0   1.0   0.055368   1.892162   0.195860  -1.342070   0.369782
1   2.0   2.0   0.392104  -0.868364   1.713019  -0.252692   0.899454
2   3.0   3.0   1.775740   0.121275  -0.038958   0.557633   0.053133
3   4.0   4.0   0.384472   1.040855  -0.534750   1.052187  -0.093194
5   6.0   6.0  -0.894517  -0.703438   1.315402   1.114672  -2.084141
6  11.0  12.0  13.000000  14.000000  15.000000  16.000000  17.000000
7   NaN   NaN   1.000000   2.000000   3.000000   4.000000   5.000000
8   NaN   NaN   2.000000   4.000000   6.000000   8.000000  10.000000

           5     6
0  -0.952356   1.0
1   1.134498   2.0
2  -1.228516   3.0
3   0.519593   4.0
5  -0.126547   6.0
6  18.000000  19.0
7   6.000000   NaN
8  12.000000   NaN

In [ ]:
X.drop([0,2])

,0a,1a,0,1,2,3,4,5,6
1,2.0,2.0,0.392104,-0.868364,1.713019,-0.252692,0.899454,1.134498,2.0
3,4.0,4.0,0.384472,1.040855,-0.534750,1.052187,-0.093194,0.519593,4.0
5,6.0,6.0,-0.894517,-0.703438,1.315402,1.114672,-2.084141,-0.126547,6.0
6,11.0,12.0,13.000000,14.000000,15.000000,16.000000,17.000000,18.000000,19.0
7,NaN,NaN,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,NaN
8,NaN,NaN,2.000000,4.000000,6.000000,8.000000,10.000000,12.000000,NaN

In [ ]:
print(X)

     0a    1a          0          1          2          3          4  \
0   1.0   1.0   0.055368   1.892162   0.195860  -1.342070   0.369782
1   2.0   2.0   0.392104  -0.868364   1.713019  -0.252692   0.899454
2   3.0   3.0   1.775740   0.121275  -0.038958   0.557633   0.053133
3   4.0   4.0   0.384472   1.040855  -0.534750   1.052187  -0.093194
5   6.0   6.0  -0.894517  -0.703438   1.315402   1.114672  -2.084141
6  11.0  12.0  13.000000  14.000000  15.000000  16.000000  17.000000
7   NaN   NaN   1.000000   2.000000   3.000000   4.000000   5.000000
8   NaN   NaN   2.000000   4.000000   6.000000   8.000000  10.000000

           5     6
0  -0.952356   1.0
1   1.134498   2.0
2  -1.228516   3.0
3   0.519593   4.0
5  -0.126547   6.0
6  18.000000  19.0
7   6.000000   NaN
8  12.000000   NaN

In [ ]:
X.describe()

,0a,1a,0,1,2,3,4,5,6
count,6.000000,6.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,6.000000
mean,4.500000,4.666667,2.214146,2.685311,3.331322,3.641216,3.893129,4.418334,5.833333
std,3.619392,3.983298,4.456753,4.843848,5.157642,5.787399,6.525218,7.089388,6.675827
min,1.000000,1.000000,-0.894517,-0.868364,-0.534750,-1.342070,-2.084141,-1.228516,1.000000
25%,2.250000,2.250000,0.302196,-0.084904,0.137155,0.355052,0.016551,-0.332999,2.250000
50%,3.500000,3.500000,0.696052,1.466509,1.514211,1.083430,0.634618,0.827046,3.500000
75%,5.500000,5.500000,1.831805,2.500000,3.750000,5.000000,6.250000,7.500000,5.500000
max,11.000000,12.000000,13.000000,14.000000,15.000000,16.000000,17.000000,18.000000,19.000000